# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CBZ.ContactApp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\codeb\OneDrive\Documents\GitHub\contact-app\CBZ.ContactApp\.idea\.idea.CBZ.ContactApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
